<section>
  <div class="home" id="home">
    <div id="herocontent">
      <!-- ======= Header/ Navbar ======= -->
      <header>
        <div class="wrapper">
          <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container border p-2 my-5" id="header-container">
              <a routerLinkActive="active" routerLink="/"
                ><img
                  src="../assets/logo.png"
                  class="px-3"
                  height="50"
                  alt="Change The Future Logo"
              /></a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#main_nav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <i class="bi bi-list"></i>
              </button>

              <div class="collapse navbar-collapse" id="main_nav">
                <ul class="container navbar-nav mr-auto justify-content-end">
                  <li class="nav-item active mx-2">
                    <a class="nav-link" id="nav1" href="#home">Home</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" id="nav1" href="#about">About</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" id="nav1" href="#effects">Effects</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" id="nav1" href="#projects">Projects</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" id="nav1" href="#testimonials"
                      >Testimonials</a
                    >
                  </li>
                  <li class="nav-item mx-2 dropdown">
                    <a
                      href="#"
                      class="nav-link dropdown-toggle"
                      id="nav1"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      >Forms<span class="caret"></span
                    ></a>
                    <ul class="dropdown-menu">
                      <li>
                        <a
                          class="nav-link"
                          routerLinkActive="active"
                          href="#petition"
                          >Petition Form</a
                        >
                      </li>
                      <li>
                        <a class="nav-link" href="#membership"
                          >Membership Form</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item mx-2">
                    <a
                      class="nav-link mx-2"
                      id="nav1"
                      routerLinkActive="active"
                      href="#contact"
                      >Contact</a
                    >
                  </li>

                  <li class="nav-item">
                    <a
                      routerLink="/login"
                      routerLinkActive="active"
                      class="nav-link"
                      ><button type="button" class="btn" id="contact-button">
                        Log In
                      </button></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <div class="container col-10" id="hero">
        <div class="hero-content text-center justify-content-center">
          <h1 id="take-action">Take Action Today:</h1>
          <h1>Fight Against Global Warming</h1>
          <h3 id="join-us" class="my-4">
            Join us to help protects the ocean, tackle the climate crises, and
            build a more just, equitable planet
          </h3>

          <div class="col-md-2 mx-auto">
            <a href="#membership"
              ><button type="button" class="btn">Be a Member</button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about" id="about">
  <div class="container my-5">
    <div class="row my-5">
      <div class="col">
        <div>
          <img class="about-pic" src="../assets/about-pic.png" />
        </div>
      </div>
      <div class="col">
        <div>
          <div>
            <h5 id="we-are">WE ARE THE</h5>
            <h4>
              <span style="color: #6d9424">C</span
              ><span style="color: #a98467">hange</span>
              <span style="color: #6d9424">T</span
              ><span style="color: #a98467">he</span>
              <span style="color: #6d9424">F</span
              ><span style="color: #a98467">uture</span>
            </h4>
            <h6 class="my-4">
              One of the biggest problems of our day is global warming, but we
              can all help discover a solution. We can build a better future for
              the earth and for ourselves by being conscious of what we do and
              by making sustainable decisions. We are the change that is
              necessary.
            </h6>
          </div>

          <h6>
            We have the ability to change things when we work together. We may
            lessen our environmental impact and contribute to the fight against
            global warming by implementing tiny adjustments in our daily lives.
            Let's lead by example and effect change in the world.
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="advocacies" id="advocacies">
  <br />
  <div class="container">
    <div class="section-title text-center">
      <h5 id="we-are">CHANGE THE FUTURE</h5>
      <h4>
        <span style="color: #6d9424">A</span
        ><span style="color: #a98467">dvocacies</span>
      </h4>
    </div>
    <div class="row justify-content-center text-center my-5">
      <div class="col-3 mx-3" id="advo-card">
        <div class="p-2">
          <i
            class="bi bi-hdd-network"
            style="font-size: 65px"
            id="advo-icon"
          ></i>
          <p style="font-size: 18px" class="text-center py-2">
            Working in partnership with other organizations and networks
          </p>
        </div>
      </div>
      <div class="col-3 mx-3" id="advo-card">
        <div class="p-2">
          <i
            class="bi bi-gender-ambiguous"
            style="font-size: 65px"
            id="advo-icon"
          ></i>
          <p style="font-size: 18px" class="text-center py-2">
            Promoting gender- equitable response to climate change
          </p>
        </div>
      </div>
      <div class="col-3 mx-3" id="advo-card">
        <div class="p-2">
          <i class="bi bi-globe" style="font-size: 65px" id="advo-icon"></i>
          <p style="font-size: 18px" class="text-center py-2">
            Policy analysis and advocacy on climate change both nationally and
            internationally
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-4 mx-3" id="advo-card">
        <div class="p-2">
          <i class="bi bi-sliders" style="font-size: 65px" id="advo-icon"></i>
          <p style="font-size: 18px" class="text-center py-2">
            Incorporating climate change across the spectrum from humanitarian
            assistance to long-term development
          </p>
        </div>
      </div>
      <div class="col-4 mx-3" id="advo-card">
        <div class="p-2">
          <i class="bi bi-link" style="font-size: 65px" id="advo-icon"></i>
          <p style="font-size: 18px" class="text-center py-2">
            Communicating the links between policy choices and action on climate
            change in the Global North and Global South
          </p>
        </div>
      </div>
    </div>
  </div>
  <br /><br /><br />
</section>

<section class="effects" id="effects">
  <br />
  <div class="container">
    <div class="section-title text-center">
      <h5 id="we-are">THROUGH THE YEARS</h5>
      <h4>
        <span style="color: #6d9424">E</span
        ><span style="color: #a98467">ffects</span>
      </h4>
    </div>
    <div
      id="carouselExampleControls"
      class="carousel carousel-dark slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active my-5">
          <div class="row justify-content-center">
            <div class="col-3 mx-3 card1" id="effects-card">
              <div id="effects-content">
                <p class="my-3" id="effects-title">
                  <span id="line">Greenhouse Gases Trapped</span>
                </p>
                <img
                  src="../assets/greenhouse.png"
                  class="card-img-top"
                  alt="Greenhouse Gases"
                />
                <p class="my-4">
                  Human activities, such as burning fossil fuels and
                  deforestation have increased the greenhouse gases, that leads
                  to Earth's temperature to rise at an alarming rate.
                </p>
              </div>
            </div>

            <div class="col-3 mx-3 card1" id="effects-card">
              <div id="effects-content">
                <p class="my-3" id="effects-title">
                  <span id="line">Heating’ of the Earth</span>
                </p>
                <img
                  src="../assets/heating.png"
                  class="card-img-top"
                  alt="Heating of the Earth"
                />
                <p class="my-4">
                  The Earth's temperature increases, it causes a range of
                  environmental impacts that can have serious consequences for
                  humans and the planet as a whole. Such as rising of sea level
                  and food and water shortages.
                </p>
              </div>
            </div>

            <div class="col-3 mx-3 card1" id="effects-card">
              <div id="effects-content">
                <p class="my-3" id="effects-title">
                  <span id="line">Melting Polar Ice Caps</span>
                </p>
                <img
                  src="../assets/meltingpolar.png"
                  class="card-img-top"
                  alt="Melting Polar Ice Caps"
                />
                <p class="my-4">
                  The ice caps in the Arctic and Antarctic regions melt, they
                  add freshwater to the oceans, causing the sea level to rise.
                  The effects are flooding, coastal erosion and habitat loss.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item my-5">
          <div class="row card-wrapper justify-content-center">
            <div class="col-3 mx-3 card1" id="effects-card2">
              <div id="effects-content">
                <p class="my-3" id="effects-title">
                  <span id="line">Rising Sea Level</span>
                </p>
                <img
                  src="../assets/rising.png"
                  class="card-img-top"
                  alt="Rising Sea Levels"
                />
                <p class="my-4">
                  The gradual increase in the average height of the Earth's
                  oceans and seas over time, caused by factors such as global
                  warming and melting of polar ice caps, with consequences such
                  as increased flooding, erosion, and saltwater intrusion.
                </p>
              </div>
            </div>

            <div class="col-3 mx-3 card1" id="effects-card2">
              <div id="effects-content">
                <p class="my-3" id="effects-title">
                  <span id="line">Extreme Weather</span>
                </p>
                <img
                  src="../assets/extreme.png"
                  class="card-img-top"
                  alt="Extreme Weather"
                />
                <p class="my-4">
                  Severe or unusual weather conditions that deviate from the
                  expected range of weather patterns, and may include events
                  such as heat waves, droughts, floods, hurricanes, tornadoes,
                  and blizzards.
                </p>
              </div>
            </div>

            <div class="col-3 mx-3 card1" id="effects-card2">
              <div id="effects-content">
                <p class="my-3" id="effects-title">
                  <span id="line">Destruction of Habitats</span>
                </p>
                <img
                  src="../assets/destruction.png"
                  class="card-img-top"
                  alt="Destruction of Habitats"
                />
                <p class="my-4">
                  The destruction of habitats can have wide-ranging and
                  significant impacts on both the natural environment and human
                  populations, and efforts to conserve and restore habitats will
                  be critical in the coming years.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
        style="margin-left: -70px"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
        style="margin-right: -70px"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <br /><br />
</section>

<section class="petition" id="petition">
  <br /><br />
  <div
    class="container-fluid"
    style="background-color: rgba(240, 234, 210, 0.8)"
    id="peition-sierra"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6 my-2">
          <div>
            <h2 class="sierramadre">
              <span style="color: #6c584c">Save and Protect</span><br />
              <span style="color: #6d9424"> Sierra Madre</span>
            </h2>
            <p class="my-3">
              Sierra Madre also known as the “backbone of Luzon,” is the longest
              mountain range in the Philippines.
            </p>
            <p>
              It covers the northeast coast of Luzon island, serving as natural
              shield against typhoons. This also it supports major
              infrastructure, including irrigation dams, water utility and power
              plants, that are serving urban settlements, including Metro
              Manila.
            </p>
          </div>
        </div>
        <div class="col">2 of 2</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-end px-5">
      <div class="col-6">
        <div
          class="card-body text-center justify-content-center"
          id="petition-card"
        >
          <form [formGroup]="petitionForm" (ngSubmit)="onSubmit()" class="px-3">
            <h2 class="signthepetition py-3">Sign the Petition Now!</h2>
            <div>
              <input
                type="text"
                formControlName="fname"
                class="form-control my-4"
                placeholder="First Name"
                required
              />
            </div>
            <div>
              <input
                type="text"
                formControlName="lname"
                class="form-control my-4"
                placeholder="Last Name"
                required
              />
            </div>
            <div>
              <input
                type="text"
                formControlName="email"
                class="form-control my-4"
                placeholder="E-mail"
                required
              />
            </div>
            <div>
              <button type="submit" class="btn" id="petition-button">
                Sign this Petition
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br /><br /><br />
</section>

<section class="laws" id="laws">
  <div class="container">
    <div class="section-title text-center">
      <h5 id="we-are">LEGISLATION TO FOLLOW</h5>
      <h4>
        <span style="color: #6d9424">L</span
        ><span style="color: #a98467">aws</span>
      </h4>
    </div>
    <div class="row justify-content-center my-5">
      <div class="col-5 mx-4" id="advo-card">
        <div class="row p-3">
          <div class="col-2">
            <i class="bi bi-book" style="font-size: 50px" id="advo-icon"></i>
          </div>
          <div class="col-10">
            <h6 id="law-title">
              Climate Change Act (RA 9279) - <br />
              Philippines
            </h6>
            <p>
              Recognizes the vulnerability of the Philippines to climate change
              and the necessity for effective adaptation. It establishes a
              thorough framework for methodically incorporating disaster risk
              reduction and the notion of climate change into various stages of
              policy creation, development plans, etc.
            </p>
          </div>
        </div>
      </div>
      <div class="col-5 mx-4" id="advo-card">
        <div class="row p-3">
          <div class="col-2">
            <i class="bi bi-book" style="font-size: 50px" id="advo-icon"></i>
          </div>
          <div class="col-10">
            <h6 id="law-title">
              Renewable Energy Act - <br />
              China
            </h6>
            <p>
              Outlines the responsibilities of the government, corporations, and
              others in the creation and use of renewable energy. To achieve 15%
              of China's energy from renewable sources by 2020, it contains
              targets and policies relating to mandatory grid connection, price
              management regulation, differentiated pricing, special funding,
              and tax reliefs.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center my-4">
      <div class="col-5 mx-4" id="advo-card">
        <div class="row p-3">
          <div class="col-2">
            <i class="bi bi-book" style="font-size: 50px" id="advo-icon"></i>
          </div>
          <div class="col-10">
            <h6 id="law-title">
              Clean Air Act - <br />
              USA
            </h6>
            <p>
              A federal statute created to limit air pollution on a nationwide
              scale. To prevent exposure to airborne contaminants that are known
              to be harmful to human health and/or welfare, it calls on the
              Environmental Protection Agency (EPA) to create and enforce rules.
            </p>
          </div>
        </div>
      </div>
      <div class="col-5 mx-4" id="advo-card">
        <div class="row p-3">
          <div class="col-2">
            <i class="bi bi-book" style="font-size: 50px" id="advo-icon"></i>
          </div>
          <div class="col-10">
            <h6 id="law-title">
              Wetlands Conservation Law of the People's Republic of China
            </h6>
            <p>
              This law was passed in an effort to improve wetland conservation,
              preserve wetland ecological functions and biodiversity, ensure
              ecological security, advance the development of ecological
              civilization, and promote peaceful coexistence between man and
              nature.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center my-5">
      <div class="col-5 mx-4" id="advo-card">
        <div class="row p-3">
          <div class="col-2">
            <i class="bi bi-book" style="font-size: 50px" id="advo-icon"></i>
          </div>
          <div class="col-10">
            <h6 id="law-title">
              Healthy Forests Restoration Act of 2003 (Public Law 108–148) -
              <br />
              USA
            </h6>
            <p>
              Aims to strengthen efforts to safeguard watersheds and address
              threats to the health of forests and rangelands across the
              landscape and to improve the capacity of the Secretaries of
              Agriculture and the Interior to conduct hazardous fuels reduction
              projects on National Forest System and Bureau of Land Management
              lands.
            </p>
          </div>
        </div>
      </div>
      <div class="col-5 mx-4" id="advo-card">
        <div class="row p-3">
          <div class="col-2">
            <i class="bi bi-book" style="font-size: 50px" id="advo-icon"></i>
          </div>
          <div class="col-10">
            <h6 id="law-title">
              Law No 2021-1104 on the fight on climate change and resilience -
              <br />
              France
            </h6>
            <p>
              It is a 305-article document that primarily addresses consumption
              (articles 2 to 29), work and production (30 to 102),
              transportation (articles 103 to 147), housing (articles 148 to
              251), food security (articles 252-278), the strengthening of
              environmental legal protection (279 to 297), and climate and
              environmental monitoring (298 to 305).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="partnership">
  <div
    class="parallax-content"
    id="parallax-content"
    data-speed="8"
    data-type="background"
  >
    <div class="container text-center">
      <h5 id="partnershipwith" class="py-5">PARTNERSHIP WITH</h5>
      <div class="row justify-content-center">
        <div class="col-2">
          <a href="https://www.hp.com/us-en/shop/tech-takes" target="_blank"
            ><img src="../assets/partner-1.png" alt="hp"
          /></a>
        </div>
        <div class="col-3">
          <a href="https://abc.xyz/" target="_blank">
            <img src="../assets/partner-2.png" alt="alphabet"
          /></a>
        </div>
        <div class="col-2">
          <a href="https://www.unilever.com.ph/" target="_blank">
            <img src="../assets/partner-3.png" alt="unilever"
          /></a>
        </div>
      </div>
      <br />
      <div class="col-md-2 mx-auto">
        <a href="#membership"
          ><button type="button" class="btn">Be a Member</button></a
        >
      </div>
    </div>
  </div>
</section>

<section class="projects" id="projects">
  <br /><br />
  <div class="container">
    <div class="section-title text-center">
      <h5 id="we-are">RECENT EVENTS</h5>
      <h4>
        <span style="color: #6d9424">P</span
        ><span style="color: #a98467">rojects</span>
      </h4>
    </div>
    <div class="tz-gallery my-5">
      <div class="row my-4 text-center">
        <div class="col">
          <a class="lightbox" href="../assets/proj1.png">
            <img src="../assets/proj1.png" alt="N/A" style="width: 350px" />
            <div class="centered">Earth 300</div>
          </a>
        </div>
        <div class="col">
          <a class="lightbox" href="../assets/proj2.png">
            <img src="../assets/proj2.png" alt="N/A" style="width: 350px" />
            <div class="centered">GM’s Carbon Neutral Pledge</div>
          </a>
        </div>
        <div class="col">
          <a class="lightbox" href="../assets/proj3.png">
            <img src="../assets/proj3.png" alt="N/A" style="width: 350px" />
            <div class="centered">Extreme Heat Resilience Alliance</div>
          </a>
        </div>
      </div>
      <div class="row my-4 text-center">
        <div class="col">
          <a class="lightbox" href="../assets/proj4.png">
            <img src="../assets/proj4.png" alt="N/A" style="width: 350px" />
            <div class="centered">
              Business Alliance to Scale Climate Solutions
            </div>
          </a>
        </div>
        <div class="col">
          <a class="lightbox" href="../assets/proj5.png">
            <img src="../assets/proj5.png" alt="N/A" style="width: 350px" />
            <div class="centered">Greenhouse Gas Removal Demonstrator</div>
          </a>
        </div>
        <div class="col">
          <a class="lightbox" href="../assets/proj6.png">
            <img src="../assets/proj6.png" alt="N/A" style="width: 350px" />
            <div class="centered">
              Business Alliance to Scale Climate Solutions
            </div>
          </a>
        </div>
      </div>
      <div class="row my-4 text-center">
        <div class="col">
          <a class="lightbox" href="../assets/proj7.png">
            <img src="../assets/proj7.png" alt="N/A" style="width: 350px" />
            <div class="centered">
              Climate Adaptation Support Activity (CASA)
            </div>
          </a>
        </div>
        <div class="col">
          <a class="lightbox" href="../assets/proj8.png">
            <img src="../assets/proj8.png" alt="N/A" style="width: 350px" />
            <div class="centered">Global Forest Watch</div>
          </a>
        </div>
        <div class="col">
          <a class="lightbox" href="../assets/proj9.png">
            <img src="../assets/proj9.png" alt="N/A" style="width: 350px" />
            <div class="centered">Global Resilience Partnership (GRP)</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <br />
</section>

<section class="membership" id="membership">
  <div class="container">
    <div class="row py-5">
      <div class="col-6">
        <div
          class="card-body text-center justify-content-center"
          id="membership-card"
        >
          <form [formGroup]="memberForm" (ngSubmit)="onSubmit2()" class="px-3">
            <h2 class="signthepetition py-3">Membership Form</h2>
            <div>
              <input
                type="text"
                formControlName="name"
                class="form-control my-4"
                placeholder="Full Name"
                required
              />
            </div>
            <div>
              <input
                type="email"
                formControlName="email2"
                class="form-control my-4"
                placeholder="E-mail"
                required
              />
            </div>
            <div>
              <input
                type="text"
                formControlName="contact"
                class="form-control my-4"
                placeholder="Contact Number"
              />
            </div>
            <div>
              <select
                class="form-select my-4"
                id="country"
                name="country"
                formControlName="country"
                required
              >
                <option>Select Country</option>
                <option value="AF">Afghanistan</option>
                <option value="AX">Aland Islands</option>
                <option value="AL">Albania</option>
                <option value="DZ">Algeria</option>
                <option value="AS">American Samoa</option>
                <option value="AD">Andorra</option>
                <option value="AO">Angola</option>
                <option value="AI">Anguilla</option>
                <option value="AQ">Antarctica</option>
                <option value="AG">Antigua and Barbuda</option>
                <option value="AR">Argentina</option>
                <option value="AM">Armenia</option>
                <option value="AW">Aruba</option>
                <option value="AU">Australia</option>
                <option value="AT">Austria</option>
                <option value="AZ">Azerbaijan</option>
                <option value="BS">Bahamas</option>
                <option value="BH">Bahrain</option>
                <option value="BD">Bangladesh</option>
                <option value="BB">Barbados</option>
                <option value="BY">Belarus</option>
                <option value="BE">Belgium</option>
                <option value="BZ">Belize</option>
                <option value="BJ">Benin</option>
                <option value="BM">Bermuda</option>
                <option value="BT">Bhutan</option>
                <option value="BO">Bolivia</option>
                <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                <option value="BA">Bosnia and Herzegovina</option>
                <option value="BW">Botswana</option>
                <option value="BV">Bouvet Island</option>
                <option value="BR">Brazil</option>
                <option value="IO">British Indian Ocean Territory</option>
                <option value="BN">Brunei Darussalam</option>
                <option value="BG">Bulgaria</option>
                <option value="BF">Burkina Faso</option>
                <option value="BI">Burundi</option>
                <option value="KH">Cambodia</option>
                <option value="CM">Cameroon</option>
                <option value="CA">Canada</option>
                <option value="CV">Cape Verde</option>
                <option value="KY">Cayman Islands</option>
                <option value="CF">Central African Republic</option>
                <option value="TD">Chad</option>
                <option value="CL">Chile</option>
                <option value="CN">China</option>
                <option value="CX">Christmas Island</option>
                <option value="CC">Cocos (Keeling) Islands</option>
                <option value="CO">Colombia</option>
                <option value="KM">Comoros</option>
                <option value="CG">Congo</option>
                <option value="CD">
                  Congo, Democratic Republic of the Congo
                </option>
                <option value="CK">Cook Islands</option>
                <option value="CR">Costa Rica</option>
                <option value="CI">Cote D'Ivoire</option>
                <option value="HR">Croatia</option>
                <option value="CU">Cuba</option>
                <option value="CW">Curacao</option>
                <option value="CY">Cyprus</option>
                <option value="CZ">Czech Republic</option>
                <option value="DK">Denmark</option>
                <option value="DJ">Djibouti</option>
                <option value="DM">Dominica</option>
                <option value="DO">Dominican Republic</option>
                <option value="EC">Ecuador</option>
                <option value="EG">Egypt</option>
                <option value="SV">El Salvador</option>
                <option value="GQ">Equatorial Guinea</option>
                <option value="ER">Eritrea</option>
                <option value="EE">Estonia</option>
                <option value="ET">Ethiopia</option>
                <option value="FK">Falkland Islands (Malvinas)</option>
                <option value="FO">Faroe Islands</option>
                <option value="FJ">Fiji</option>
                <option value="FI">Finland</option>
                <option value="FR">France</option>
                <option value="GF">French Guiana</option>
                <option value="PF">French Polynesia</option>
                <option value="TF">French Southern Territories</option>
                <option value="GA">Gabon</option>
                <option value="GM">Gambia</option>
                <option value="GE">Georgia</option>
                <option value="DE">Germany</option>
                <option value="GH">Ghana</option>
                <option value="GI">Gibraltar</option>
                <option value="GR">Greece</option>
                <option value="GL">Greenland</option>
                <option value="GD">Grenada</option>
                <option value="GP">Guadeloupe</option>
                <option value="GU">Guam</option>
                <option value="GT">Guatemala</option>
                <option value="GG">Guernsey</option>
                <option value="GN">Guinea</option>
                <option value="GW">Guinea-Bissau</option>
                <option value="GY">Guyana</option>
                <option value="HT">Haiti</option>
                <option value="HM">Heard Island and Mcdonald Islands</option>
                <option value="VA">Holy See (Vatican City State)</option>
                <option value="HN">Honduras</option>
                <option value="HK">Hong Kong</option>
                <option value="HU">Hungary</option>
                <option value="IS">Iceland</option>
                <option value="IN">India</option>
                <option value="ID">Indonesia</option>
                <option value="IR">Iran, Islamic Republic of</option>
                <option value="IQ">Iraq</option>
                <option value="IE">Ireland</option>
                <option value="IM">Isle of Man</option>
                <option value="IL">Israel</option>
                <option value="IT">Italy</option>
                <option value="JM">Jamaica</option>
                <option value="JP">Japan</option>
                <option value="JE">Jersey</option>
                <option value="JO">Jordan</option>
                <option value="KZ">Kazakhstan</option>
                <option value="KE">Kenya</option>
                <option value="KI">Kiribati</option>
                <option value="KP">
                  Korea, Democratic People's Republic of
                </option>
                <option value="KR">Korea, Republic of</option>
                <option value="XK">Kosovo</option>
                <option value="KW">Kuwait</option>
                <option value="KG">Kyrgyzstan</option>
                <option value="LA">Lao People's Democratic Republic</option>
                <option value="LV">Latvia</option>
                <option value="LB">Lebanon</option>
                <option value="LS">Lesotho</option>
                <option value="LR">Liberia</option>
                <option value="LY">Libyan Arab Jamahiriya</option>
                <option value="LI">Liechtenstein</option>
                <option value="LT">Lithuania</option>
                <option value="LU">Luxembourg</option>
                <option value="MO">Macao</option>
                <option value="MK">
                  Macedonia, the Former Yugoslav Republic of
                </option>
                <option value="MG">Madagascar</option>
                <option value="MW">Malawi</option>
                <option value="MY">Malaysia</option>
                <option value="MV">Maldives</option>
                <option value="ML">Mali</option>
                <option value="MT">Malta</option>
                <option value="MH">Marshall Islands</option>
                <option value="MQ">Martinique</option>
                <option value="MR">Mauritania</option>
                <option value="MU">Mauritius</option>
                <option value="YT">Mayotte</option>
                <option value="MX">Mexico</option>
                <option value="FM">Micronesia, Federated States of</option>
                <option value="MD">Moldova, Republic of</option>
                <option value="MC">Monaco</option>
                <option value="MN">Mongolia</option>
                <option value="ME">Montenegro</option>
                <option value="MS">Montserrat</option>
                <option value="MA">Morocco</option>
                <option value="MZ">Mozambique</option>
                <option value="MM">Myanmar</option>
                <option value="NA">Namibia</option>
                <option value="NR">Nauru</option>
                <option value="NP">Nepal</option>
                <option value="NL">Netherlands</option>
                <option value="AN">Netherlands Antilles</option>
                <option value="NC">New Caledonia</option>
                <option value="NZ">New Zealand</option>
                <option value="NI">Nicaragua</option>
                <option value="NE">Niger</option>
                <option value="NG">Nigeria</option>
                <option value="NU">Niue</option>
                <option value="NF">Norfolk Island</option>
                <option value="MP">Northern Mariana Islands</option>
                <option value="NO">Norway</option>
                <option value="OM">Oman</option>
                <option value="PK">Pakistan</option>
                <option value="PW">Palau</option>
                <option value="PS">Palestinian Territory, Occupied</option>
                <option value="PA">Panama</option>
                <option value="PG">Papua New Guinea</option>
                <option value="PY">Paraguay</option>
                <option value="PE">Peru</option>
                <option value="PH">Philippines</option>
                <option value="PN">Pitcairn</option>
                <option value="PL">Poland</option>
                <option value="PT">Portugal</option>
                <option value="PR">Puerto Rico</option>
                <option value="QA">Qatar</option>
                <option value="RE">Reunion</option>
                <option value="RO">Romania</option>
                <option value="RU">Russian Federation</option>
                <option value="RW">Rwanda</option>
                <option value="BL">Saint Barthelemy</option>
                <option value="SH">Saint Helena</option>
                <option value="KN">Saint Kitts and Nevis</option>
                <option value="LC">Saint Lucia</option>
                <option value="MF">Saint Martin</option>
                <option value="PM">Saint Pierre and Miquelon</option>
                <option value="VC">Saint Vincent and the Grenadines</option>
                <option value="WS">Samoa</option>
                <option value="SM">San Marino</option>
                <option value="ST">Sao Tome and Principe</option>
                <option value="SA">Saudi Arabia</option>
                <option value="SN">Senegal</option>
                <option value="RS">Serbia</option>
                <option value="CS">Serbia and Montenegro</option>
                <option value="SC">Seychelles</option>
                <option value="SL">Sierra Leone</option>
                <option value="SG">Singapore</option>
                <option value="SX">Sint Maarten</option>
                <option value="SK">Slovakia</option>
                <option value="SI">Slovenia</option>
                <option value="SB">Solomon Islands</option>
                <option value="SO">Somalia</option>
                <option value="ZA">South Africa</option>
                <option value="GS">
                  South Georgia and the South Sandwich Islands
                </option>
                <option value="SS">South Sudan</option>
                <option value="ES">Spain</option>
                <option value="LK">Sri Lanka</option>
                <option value="SD">Sudan</option>
                <option value="SR">Suriname</option>
                <option value="SJ">Svalbard and Jan Mayen</option>
                <option value="SZ">Swaziland</option>
                <option value="SE">Sweden</option>
                <option value="CH">Switzerland</option>
                <option value="SY">Syrian Arab Republic</option>
                <option value="TW">Taiwan, Province of China</option>
                <option value="TJ">Tajikistan</option>
                <option value="TZ">Tanzania, United Republic of</option>
                <option value="TH">Thailand</option>
                <option value="TL">Timor-Leste</option>
                <option value="TG">Togo</option>
                <option value="TK">Tokelau</option>
                <option value="TO">Tonga</option>
                <option value="TT">Trinidad and Tobago</option>
                <option value="TN">Tunisia</option>
                <option value="TR">Turkey</option>
                <option value="TM">Turkmenistan</option>
                <option value="TC">Turks and Caicos Islands</option>
                <option value="TV">Tuvalu</option>
                <option value="UG">Uganda</option>
                <option value="UA">Ukraine</option>
                <option value="AE">United Arab Emirates</option>
                <option value="GB">United Kingdom</option>
                <option value="US">United States</option>
                <option value="UM">United States Minor Outlying Islands</option>
                <option value="UY">Uruguay</option>
                <option value="UZ">Uzbekistan</option>
                <option value="VU">Vanuatu</option>
                <option value="VE">Venezuela</option>
                <option value="VN">Viet Nam</option>
                <option value="VG">Virgin Islands, British</option>
                <option value="VI">Virgin Islands, U.s.</option>
                <option value="WF">Wallis and Futuna</option>
                <option value="EH">Western Sahara</option>
                <option value="YE">Yemen</option>
                <option value="ZM">Zambia</option>
                <option value="ZW">Zimbabwe</option>
              </select>
            </div>
            <div>
              <input
                type="date"
                id="date"
                formControlName="date"
                name="date"
                style="width: 465px; border-color: white"
                required
              />
            </div>
            <div class="p-4">
              <button type="submit" class="btn" id="membership-button">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-5">
        <h2 id="looking">Looking forward to working with everyone!</h2>
        <h6 class="py-3" id="ctf-email">changethefuture@email.com</h6>
        <h6 class="py-3">0991-234-5678</h6>
        <h6 class="py-3">Angeles City, Pampanga, Luzon, Philippines</h6>
      </div>
    </div>
  </div>
</section>

<section class="testimonials" id="testimonials">
  <div class="container">
    <div class="section-title text-center">
      <h5 id="we-are">WHAT OTHER SAY'S</h5>
      <h4>
        <span style="color: #6d9424">T</span
        ><span style="color: #a98467">estimonials</span>
      </h4>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-5 p-4 m-4 border-radius-new" id="quote">
        <img src="../assets/quote-custom.svg" class="pb-4" />
        <p>
          Microsoft is committed to making our operations carbon neutral to
          achieve net zero emissions for our data centers, software development
          labs, offices, and employee business air travel in over 60 countries
          around the world.
        </p>
        <hr />

        <div class="d-flex align-items-center">
          <div class="author-img mr-3">
            <img src="https://picsum.photos/200" />
          </div>
          <div>
            <h5 class="m-0">Tamara “TJ” DiCaprio</h5>
            <p class="m-0 small font-medium text-muted">
              Microsoft Corporation
            </p>
          </div>
        </div>
      </div>

      <div class="col-5 p-4 m-4 border-radius-new" id="quote">
        <img src="../assets/quote-custom.svg" class="pb-4" />
        <p>
          Climate neutral now is an initiative that contributes to putting the
          world on the path to climate neutrality, as enshrined in the Paris
          Agreement, by encouraging non-Party stakeholders to take climate
          action.
        </p>
        <hr />
        <div class="d-flex align-items-center">
          <div class="author-img mr-3">
            <img src="https://picsum.photos/200/200" />
          </div>
          <div>
            <h5 class="m-0">Patricia Espinosa</h5>
            <p class="m-0 small font-medium text-muted">
              United Nations Framework Convention on Climate Change
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer">
  <footer class="section bg-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-1">
          <a href="index.html"
            ><img
              src="../assets/logo.png"
              alt="Holy Angel University Logo"
              height="70px"
          /></a>
        </div>

        <div class="col-lg-2 mx-3">
          <div class="">
            <h6 class="footer-heading">Quick Links</h6>
            <ul class="list-unstyled footer-link mt-3">
              <li><a href="#about">About</a></li>
              <li><a href="#effects">Effects</a></li>
              <li><a href="#projects">Projects</a></li>
              <li><a href="#testimonials">Testimonials</a></li>
              <li><a href="#petition">Petition Form</a></li>
              <li><a href="#membership">Membership Form</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2 mx-3">
          <div class="">
            <h6 class="footer-heading">Legal</h6>
            <ul class="list-unstyled footer-link mt-3">
              <li><a href="#">Terms and Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of use</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6">
          <div>
            <h6 class="footer-heading">Contact Form</h6>
            <form action="">
              <div class="row" id="contact-font">
                <div class="col">
                  <div>
                    <input
                      type="text"
                      class="form-control my-3"
                      placeholder="Name"
                    />
                  </div>
                  <div>
                    <input
                      type="text"
                      class="form-control my-3"
                      placeholder="E-mail"
                    />
                  </div>
                  <div>
                    <input
                      type="text"
                      class="form-control my-3"
                      placeholder="Subject"
                    />
                  </div>
                </div>
                <div class="col">
                  <textarea
                    class="form-control my-3"
                    id="message2"
                    name="message2"
                    required=""
                    rows="3"
                    placeholder="Message"
                  ></textarea>
                  <div class="d-flex justify-content-center">
                    <a href="#"
                      ><button type="button" class="btn" id="membership-button">
                        Submit
                      </button></a
                    >
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-2">
      <div class="container">
        <div class="row py-2">
          <div class="col">
            <p class="footer-alt mb-0 f-14">
              Copyright © 2023, Designed & Developed by GRP7
            </p>
          </div>
          <div class="col">
            <div class="social-profile justify-content-end d-flex">
              <ul>
                <li>
                  <a href="#"
                    ><img
                      src="../assets/facebook-square-white.svg"
                      alt=""
                      class="mx-1"
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img
                      src="../assets/instagram-square-white.svg"
                      alt=""
                      class="mx-1"
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img
                      src="../assets/twitter-square-white.svg"
                      alt=""
                      class="mx-1"
                  /></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
  baguetteBox.run(".tz-gallery");
</script>
